

.topnav{
  display: flex;
  align-items: center;
}
.topnav img{
  height: 70px;
}
.img img{
  
  width: 100%;
  animation: fade linear;
  animation-timeline: view();
}
p{
  animation: fade linear;
  animation-timeline: view();
  text-overflow: ellipsis;
  height: 200px;
}
p-tag{
  text-overflow: ellipsis;
  height: 200px;
}

@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  0%{
    opacity: 0.5;
  }
}